.navbar {
    height: 120px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    z-index: -1 !important;
    box-sizing: border-box;
  }
  
  .nav-group {
    display: flex;
    gap: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-group li {
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    position: relative;
  }
  
  .nav-group li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1.5px;
    background: black;
    transition: width 0.3s ease;
  }
  
  .nav-group li:hover::after {
    width: 100%;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo img {
    height:99px;
    object-fit: contain;
  }
  